<div class="navbar">
  <%= link_to root_path, class: "header-logo" do %>
    <%= image_tag asset_path('cock.jpeg'), alt: "Logo", class: "avatar avatar-bordered" %>
    <p>COCKTAIL&GARNISH</p>
  <% end %>
  </a>
  <div class="header-links">
   <%= link_to root_path do %>
     <span>cocktails</span>
     <sup><%= @cocktail_length %></sup>
   <% end %>
   <%= link_to "create", new_cocktail_path, class: "margin-left" %>
   <%= link_to "contact", root_path(anchor: 'footer'), class: "margin-left" %>
  </div>
</div>
